{% extends 'base.html' %}
{% load static %}
{% block js %}
    <script src="{% static 'js/common/gotoPage.js' %}"></script>
    <script src="{% static 'js/common/codetable.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="d-sm-flex align-items-center justify-content-between mb-0">
            <h1 class="h5 mb-0 text-gray-800">系统码表管理</h1>
            <a data-toggle="modal" onclick="fnGotoPage('/common/codetable/manage/add/',2)"
               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">新增</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>代码名称</th>
                            <th>代码表名</th>
                            <th>有效状态</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>代码名称</th>
                            <th>代码表名</th>
                            <th>有效状态</th>
                            <th>操作</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for obj in code_list %}
                        <tr>
                            <td>{{ obj.code_table_name }}</td>
                            <td>{{ obj.code_table }}</td>
                            <td>{{ obj.get_valid_status_display }}</td>
                            <td style="text-align: center">
                                <img style="cursor:pointer" width="20px" height="20px" src="/static/img/edit.png" title="编辑" onclick="fnGotoPage('/common/codetable/manage/edit/{{ obj.id }}/',2)">&nbsp;&nbsp;
                                <img style="cursor:pointer" width="20px" height="20px" src="/static/img/delete.png" title="删除" onclick="fnDelete('/common/codetable/manage/delete/{{ obj.id }}/',2)">&nbsp;&nbsp;
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
