{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/layer/layer.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/common/menu.js' %}"></script>
</head>
<body>
<!-- 提示内容开始-->
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form name="menuForm" id="menuForm" action="/common/saveMenu/" method="POST" >
                    <input type="hidden" id="form_type" value="{{ form_type }}">
                    <input type="hidden" id="obj" value="{{ obj.id }}">
                    {% csrf_token %}
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">菜单编号</label>
                        <div class="col-sm-8">
                          <input type="input" class="form-control" name="menu_code" id="menu_code" value="{{ obj.menu_code }}" placeholder="菜单编号"
                          {% if form_type == 'edit' %}readonly {% endif %}>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">菜单名称</label>
                        <div class="col-sm-8">
                          <input type="input" class="form-control" name="menu_name" id="menu_name" value="{{ obj.menu_name }}" placeholder="菜单名称">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">菜单路径</label>
                        <div class="col-sm-8">
                          <input type="input" class="form-control" name="menu_url" id="menu_url" value="{{ obj.menu_url }}" placeholder="菜单路径">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">上级菜单</label>
                        <div class="col-sm-8">
                          <select class="selectpicker" name="menu_parent_code" id="menu_parent_code" data-style="btn-primary">
                            <option value="0">--请选择--</option>
                              {% for mobj in menu_list %}
                                  {% if obj.menu_parent_code == mobj.menu_code%}
                                    <option value="{{ mobj.menu_code }}" selected>{{ mobj.menu_name }}</option>
                                  {% else %}
                                      <option value="{{ mobj.menu_code }}">{{ mobj.menu_name }}</option>
                                  {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">菜单图片路径</label>
                        <div class="col-sm-8">
                          <input type="input" class="form-control" name="menu_img" id="menu_img" value="{{ obj.menu_img }}" placeholder="菜单图片路径">
                        </div>
                      </div>
                      <fieldset class="form-group">
                        <div class="row">
                          <legend class="col-form-label col-sm-3 pt-0">菜单级别</legend>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="menu_level" id="menu_level_1" value="1"
                              {% if obj.menu_level == '1' %}checked{% endif %}>
                              <label class="form-check-label" for="inlineCheckbox1">一级</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="menu_level" id="menu_level_2" value="2"
                              {% if obj.menu_level == '2' %}checked{% endif %}>
                              <label class="form-check-label" for="inlineCheckbox2">二级</label>
                            </div>
                        </div>
                      </fieldset>
                      <fieldset class="form-group">
                        <div class="row">
                          <legend class="col-form-label col-sm-3 pt-0">有效状态</legend>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="menu_status" id="menu_status1" value="Y"
                              {% if obj.menu_status == 'Y' %}checked{% endif %}>
                              <label class="form-check-label" for="inlineCheckbox1">有效</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="menu_status" id="menu_status2" value="N"
                              {% if obj.menu_status == 'N' %}checked{% endif %}>
                              <label class="form-check-label" for="inlineCheckbox2">无效</label>
                            </div>
                        </div>
                      </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#" id="saveMenuForm">确认</a>
                    <a class="btn btn-secondary" href="#" onclick="fnCloseMenuIframe()">取消</a>
                </div>
            </div>
        </div>
</body>
</html>