{% extends 'base.html' %}
{% load static %}
{% block js %}
    <script src="{% static 'js/common/gotoPage.js' %}"></script>
    <script src="{% static 'js/common/menu.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="d-sm-flex align-items-center justify-content-between mb-0">
            <h1 class="h5 mb-0 text-gray-800">系统菜单管理</h1>
            <a data-toggle="modal" onclick="fnGotoPage('/common/menu/add/',0)"
               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">新增</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>菜单名称</th>
                            <th>菜单代码</th>
                            <th>菜单级别</th>
                            <th>所属父级</th>
                            <th>菜单地址</th>
                            <th>有效状态</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>菜单名称</th>
                            <th>菜单代码</th>
                            <th>菜单级别</th>
                            <th>所属父级</th>
                            <th>菜单地址</th>
                            <th>有效状态</th>
                            <th>操作</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for obj in menu_list %}
                        <tr>
                            <td>{{ obj.menu_name }}</td>
                            <td>{{ obj.menu_code }}</td>
                            <td>{{ obj.get_menu_level_display }}</td>
                            <td>{{ obj.menu_parent_code }}</td>
                            <td>{{ obj.menu_url }}</td>
                            <td>{{ obj.get_menu_status_display }}</td>
                            <td style="text-align: center">
                                <img style="cursor:pointer" width="20px" height="20px" src="/static/img/edit.png" title="编辑" onclick="fnGotoPage('/common/menu/edit/{{ obj.id }}',0)">&nbsp;&nbsp;
                                <img style="cursor:pointer" width="20px" height="20px" src="/static/img/delete.png" title="删除" onclick="fnDelete('/common/menu/delete/{{ obj.id }}', 0)">&nbsp;&nbsp;
                                <img style="cursor:pointer" width="20px" height="20px" src="/static/img/view.png" title="查看详细" onclick="fnGotoPage('/common/menu/view/{{ obj.id }}',0)">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
