{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'layer/layer.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/validationFormObjects.js' %}"></script>
    <script src="{% static 'js/common/role.js' %}"></script>
</head>
<body>
<!-- 提示内容开始-->
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form name="roleForm" id="roleForm" action="" method="POST" >
                    <input type="hidden" id="form_type" value="{{ form_type }}">
                    <input type="hidden" id="obj" value="{{ obj.id }}">
                    {% csrf_token %}
                    {% for field in role_from %}
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field }}
                            <span style="color: red;font-size: 12px;" id="{{ field.name }}_error"></span>
                        </div>
                      </div>
                    {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#" id="saveRoleForm">确认</a>
                    <a class="btn btn-secondary" href="#" onclick="fnCloseIframe()">取消</a>
                </div>
            </div>
        </div>
</body>
</html>