{% load static %}
<!DOCTYPE>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<html lang="en">
<head>
    <title>添加菜单</title>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/layer/layer.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/common/role.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'vendor/ztree/css/metroStyle.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'vendor/ztree/css/treeSelectStyle.css' %}">
    <script src="{% static 'vendor/ztree/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/ztree/js/jquery.ztree.all.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/ztree/js/treeSelect.2.0.js' %}"></script>
    <script type="text/javascript">
        let zNodes = {{ jsonarr | safe}};
        let defaults = {
            zNodes: zNodes,
            height: 233,
            filter: true,
            searchShowParent: true
        };
        let selectObj;
        $(function () {
            selectObj = $("#menu").treeSelect(defaults);
        })
function submitRoleMenuForm(){
    let url = '/common/role/saveRoleMenu/';
    let select_value = selectObj.val();
    $("#menuIds").val(select_value);
    if(select_value == ''){
        $("#menu_error").text("提示：请选择相应的菜单")
        return;
    }
    $.ajax({
        type: 'post',
        url: url,
        data: $("#RoleMenuForm").serialize(),
        async: true,
        dataType: "json",
        success: function(rdata) {},
        error:function (rdata){},
        complete:function (rdata){
            let obj = JSON.parse(rdata.responseText);
            if(obj.status==true){
                layer.msg('提示：提交成功', {icon: 1});
                fnCloseIframe();
                window.parent.location.reload();
            }else if (obj.status==false){
                $("#menu_error").text("提示：操作失败")
            }else{
                $("#menu_error").text("提示：操作失败")
            }
        }
    });
}

    </script>
</head>

<body style="height: 1000px">
<!-- 提示内容开始-->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form name="RoleMenuForm" id="RoleMenuForm" action="" method="POST" >
                <input type="hidden" id="rid" name="rid" value="{{ rid }}">
                <input type="hidden" id="menuIds" name="menuIds" value="{{ menuIds }}">
                {% csrf_token %}
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">角色对应菜单</label>
                    <div class="col-sm-8">
                        <textarea id="menu" style="width: 350px;height:100px;overflow:hidden;cursor: pointer" checks="{{ menu_ids }}" class="form-control" readonly></textarea>
                        <span id="menu_error" style="color: red;font-size: 10px"></span>
                    </div>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="#" onclick="submitRoleMenuForm()">确认</a>
                <a class="btn btn-secondary" href="#" onclick="fnCloseIframe()">取消</a>
            </div>
        </div>
    </div>
</body>
</html>
