{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="d-sm-flex align-items-center justify-content-between mb-0">
            <h1 class="h5 mb-0 text-gray-800">系统角色管理</h1>
            <a data-toggle="modal" onclick="fngotorolepage('add','')"
               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">新增</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>角色名称</th>
                            <th>角色描述</th>
                            <th>有效状态</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>角色名称</th>
                            <th>角色描述</th>
                            <th>有效状态</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for obj in role_list %}
                        <tr>
                            <td>{{ obj.role_name }}</td>
                            <td>{{ obj.role_describe }}</td>
                            <td>{{ obj.get_role_status_display }}</td>
                            <td style="text-align: center">
                                <img style="cursor:pointer" width="20px" height="20px" src="/static/img/edit.png" title="编辑" onclick="fngotorolepage('edit',{{ obj.id }})">&nbsp;&nbsp;
                                <img style="cursor:pointer" width="20px" height="20px" src="/static/img/delete.png" title="删除" onclick="fnDeleteRole('delete', {{ obj.id }})">&nbsp;&nbsp;
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
